<section class="view_sale">

  {{#if error_msg}}
  <div class="alert-error">
  <span class="closebtn-error" onclick="this.parentElement.style.display='none';">&times;</span>
   {{error_msg}}
  </div>
  {{/if}}



<div class="view-sale-form">

  <h1>View Sales</h1>


<!-- /////////////////////////////////////////////////////////////////////////////// -->


  <div id="form-area" class="form-area">

      <div class="button-box">
        <div id="btn"></div>
        <button type="button" name="button" class="toggle-btn" onclick="dailySales()">View Daily Sales</button>
        <button type="button" name="button" class="toggle-btn" onclick="monthlySales()">View Monthly Sales</button>
      </div>


      <!-- ////////////////////////////////////////////////////////////// -->
      <div id="daily-sales" class="sales-div">
        <input type="text" id="user-id" value="{{user.user_id}}" style="visibility:hidden">

        <div class="date">
          <label  class="label" for="productName">Select Date : </label>
          <input type="date"  id="saleDate" value="{{date}}" onchange="updateDailySale(event);">
        </div>


          <div class="bill-preview" id="image-preview">
            <h3>Bill | {{user.username}}</h3> <hr>
            <div class="bill-head">
              <p class="name">product name</p>
              <p class="u-price">unit price</p>
              <p class="bill-qty">quantity</p>
              <p class="bill-price">price</p>
            </div>
            <hr>

            <div class="bill-wrapper daily-biil-wrapper">
              <!-- bill forms here -->
              {{#each sales}}
                <div class='bill-data daily-bill-data'>
                  <p class='name'>{{sale_product}}</p>
                  <p class='u-price'>{{unit_price}}</p>
                  <p class='bill-qty'>{{sale_quantity}}</p>
                  <p class='bill-price'>{{multiply sale_quantity unit_price}}</p>
                </div>
              {{/each}}

            </div>


            <hr>
            <div class="total">
              <p>Total  : </p> <p id="totalPrice" class="totalPrice">{{total}}/=</p>
            </div>
          </div>
        </div>
          <!-- ////////////////////////////////////////////////////////////// -->


          <!-- ////////////////////////////////////////////////////////////// -->
          <div id="monthly-sales" class="sales-div">
            Monthly sales <br>
            jskasba  <br>
            sajajbac <br>

              <div class="bill-preview" id="image-preview">
                <h3>Bill | {{user.username}}</h3> <hr>
                <div class="bill-head">
                  <p class="name">product name</p>
                  <p class="u-price">unit price</p>
                  <p class="bill-qty">quantity</p>
                  <p class="bill-price">price</p>
                </div>
                <hr>

                <div class="bill-wrapper">


                  <!-- bill forms here -->
                </div>


                <hr>
                <div class="total">

                  <p>Total  : </p> <p id="totalPrice" class="totalPrice">0</p>
                </div>
              </div>
            </div>
              <!-- ////////////////////////////////////////////////////////////// -->

  </div>







</div>


</section>

<script src="/jquery-3.4.1.min.js"></script>

<script type="text/javascript">


////////////change styles with toggle button/////////////////////
  var parent = document.querySelector(".form-area");

  var x = document.getElementById('daily-sales');
  var y = document.getElementById('monthly-sales');
  var z = document.getElementById('btn');

  var parentHeight = parseInt(window.getComputedStyle(x).height)+100 + "px";
  parent.style.height = parentHeight;


  function monthlySales(){
    x.style.left ="-800px";
    z.style.left = "220px";
    y.style.left ="15px";

    parentHeight = parseInt(window.getComputedStyle(y).height)+100 + "px";
    parent.style.height = parentHeight;

  }

  function dailySales(){
    y.style.left = "800px";
    z.style.left = "0";
    x.style.left ="15px";

    parentHeight = parseInt(window.getComputedStyle(x).height)+100 + "px";
    parent.style.height = parentHeight;

  }



  function checkBillDataElementAvailable(){
    var daily_sales_element = document.getElementById('daily-sales');
    var bill_data_element = daily_sales_element.querySelector('.daily-bill-data');

    if (bill_data_element==null) {
      return null;
    }else {
      return bill_data_element;
    }
  }


  function updateDailySale(e){
    var date = e.target.value;
    const user_id = document.getElementById('user-id').value;


    console.log(date);

    const data ={user_id:user_id, date:date}

    $.post("/dailySales", data, function(result) {
      console.log(result);
      var totalPrice = 0;
      // console.log(result.result[0].sale_product);
      var bill_elmnt = checkBillDataElementAvailable();

      if (bill_elmnt==null) {
        console.log("do nothing");
      }else {
        document.querySelectorAll(".daily-bill-data").forEach(el => el.remove());
      }


      if (result.result==null) {
        console.log("do nothing");

      }else {

        console.log("not ull");
        for (var i = 0; i < result.result.length; i++) {
          const product_name = result.result[i].sale_product;
          const unit_price = result.result[i].unit_price;
          const quantity = result.result[i].sale_quantity;
          const price = unit_price*quantity;
          totalPrice = totalPrice+price;

          updateBill(product_name,unit_price,quantity,price);

        }
        var total_price_element = document.getElementById('totalPrice');
        total_price_element.innerHTML = totalPrice+"/=";
      }

      dailySales();  //to adjust the height according to new bill
      

    });

  }

  function updateBill(product_name,unit_price,quantity,price){

     $( "<div class='bill-data daily-bill-data' > <p class='name'>"+product_name+"</p><p class='u-price'>"+unit_price+"</p><p class='bill-qty'>"+quantity+"</p><p class='bill-price'>"+price+"</p></div>").appendTo( ".daily-biil-wrapper" );


      console.log("done");

  }

</script>
